

    

      <mat-tab-group>
          <mat-tab label="Zones"> 
          
        



<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Telangana, Orange">
  </mat-form-field>

  <table mat-table [dataSource]="zones" class="mat-elevation-z8" id="zones">

  <!-- Position Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> State </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="district">
    <th mat-header-cell *matHeaderCellDef> District </th>
    <td mat-cell *matCellDef="let element"> {{element.district}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="zone" >
    <th mat-header-cell *matHeaderCellDef> Zones </th>
    <td mat-cell *matCellDef="let zone" > {{zone.zone}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="lastupdated" >
    <th mat-header-cell *matHeaderCellDef> Lastupdated </th>
    <td mat-cell *matCellDef="let zone"> {{zone.lastupdated}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20,30,35]" showFirstLastButtons></mat-paginator>



</mat-tab>





<mat-tab label="Statistics">
  
 
 <div class="my-icon" aria-label="My icon" [inlineSVG]="'../assets/india.svg'" >
  
 
</div> 

<div class="containe3"> 
  <h4 id="demo4"></h4>
   <div class="card">
    <div><h5 class="name">Total</h5></div>
    <div> 
        <p id="demo"></p>
    </div>
  </div>  
  <div class="card">
      <div><h5 class="name">Confirmed</h5></div>
      <div> 
          <p id="demo1"></p>
      </div>
    </div>
    <div class="card">
        <div><h5 class="name">Death</h5></div>
        <div> 
            <p id="demo2"></p>
        </div>
      </div>  
      <div class="card">
          <div><h5 class="name">Cured</h5></div>
          <div> 
              <p id="demo3"></p>
          </div>
        </div> 
      </div>


</mat-tab>
</mat-tab-group>

