h3{
margin: 0 500px;
font-family: Courier, monospace;

}

/* Structure */
table {
    width: 90%;
    margin :0 55px;

  }
  
  
  .mat-form-field {
    margin :0 60px;
    font-size: 14px;
    width: 90%;
  }
.mat-paginator{
  width:90%;
  margin: 0 57px;
  background-color: #A6ACAF;
}
td.mat-cell{
  font-family: Courier, monospace;

}



